asgiref==3.2.3
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Django==2.2.24
django-cities==0.5.0.6
django-countries==5.5
django-currentuser==0.4.2
django-model-utils==4.0.0
django-tinymce==2.8.0
django-tinymce4-lite==1.7.5
freeze==1.0.10
geojson==2.5.0
idna==2.8
jsmin==2.2.2
lxml==4.6.3
maxminddb==1.5.2
maxminddb-geolite2==2018.703
Pillow==8.2.0
pyowm==2.10.0
pytz==2019.3
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
swapper==1.1.2.post1
tqdm==4.42.1
urllib3==1.26.5