{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{news_title}} | {% endblock %}
{% block header_content %}
<div class="header__text-box">
    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--detail">{{ news_title }}</span>
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
<section class="detail-text">

    <div class="row">
        <div class="col-1-of-2">
            <div class="u-center-text u-margin-bottom-medium u-margin-top-big">
                <h2 class="heading-secondary heading-secondary--big u-margin-bottom-medium">{{ news_title }}
                </h2>
                <img height=600 src="{{news_image}}" alt="{{news_title}}">
                <p class="paragraph paragraph--justified"> {{ news_content }}
                </p>
            </div>
        </div>

        <style>
            .detail {
                background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.6), rgba(86, 67, 250, 0.6)),
                url({{news_image}});
            }
        </style>
    </div>
</section>

{% endblock content %}