{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="section-detail">
    <header class="detail detail--10">
        <div class="header__text-box">
            <nav class="nav-bar">
                <div class="row">
                    <img src="{% static 'img/logo.png' %}" alt="logo" class="nav-bar__logo">
                    <ul class="nav-bar__titles">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Adventures</a></li>
                        <li><a href="#">Hotels</a></li>
                        <li><a href="#">Book</a></li>
                    </ul>
                </div>
            </nav>
            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--detail">Living</span>
                    <span class="heading-primary--sub"> with nature</span>
                </h1>
            </div>
        </div>
    </header>

    <section class="detail-text">

        <div class="row">

            <div class="col-1-of-2">
                <div class="u-center-text u-margin-bottom-medium u-margin-top-big">
                    <h2 class="heading-secondary heading-secondary--big u-margin-bottom-medium"> About Package</h2>
                    <p class="paragraph paragraph--justified">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Distinctio cumque quis reiciendis voluptatibus, a voluptates. Cum ullam cumque voluptatibus,
                        suscipit voluptate maiores! Ex in ad officia illo impedit eum provident.<br><br>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat dolorem modi praesentium quod
                        porro, dignissimos, delectus corrupti dolor omnis beatae hic tempora! Temporibus dolorem,
                        placeat obcaecati voluptatum porro consequatur mollitia?Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Incidunt laboriosam quia, odio cumque non rerum repellendus esse velit
                        delectus tempora, sint praesentium voluptate reprehenderit quo, sequi expedita quis inventore.
                        Suscipit.<br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptate provident quisquam quo
                        rerum distinctio eius in fugiat nostrum labore nobis reprehenderit praesentium, fuga eligendi
                        debitis, ratione, non voluptatum exercitationem.
                    </p>
                </div>
            </div>




            <div class="col-1-of-2">

                <div class="u-center-text u-margin-bottom-small u-margin-top-big">
                    <h2 class="heading-secondary heading-secondary--big"> Quick Facts</h2>
                    <div class="cards__details">


                        <ul class="detail-text__items">
                            <li>
                                <div class="detail__icons">
                                    <ion-icon name="walk"></ion-icon>
                                    Hiking
                                </div>
                            </li>

                            <li>
                                <div class="detail__icons">
                                    <ion-icon name="flame"></ion-icon>Camp-Fire
                                </div>
                            </li>

                            <li>
                                <div class="detail__icons">
                                    <ion-icon name="ios-bus"></ion-icon>Transportion Available
                                </div>
                            </li>

                            <li>
                                <div class="detail__icons">
                                    <ion-icon name="ios-pizza"></ion-icon>Food Available
                                </div>
                            </li>

                            <li>
                                <div class="detail__icons">
                                    <ion-icon name="cash"></ion-icon>24 K per Person
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>

                <!--begins here the next section-->
                <div class="u-center-text u-margin-bottom-small">
                    <h2 class="heading-secondary heading-secondary--big"> Tour Guides</h2>
                    <div class="cards__details">


                        <ul class="detail-text__items">
                            <li>
                                <div class="detail__icons">

                                    <img src="../../img/tour-guide-1.png" alt="photo for review"
                                        class="detail__tour-guide">
                                    Ram Bahadur Karki</div>
                            </li>

                            <li>
                                <div class="detail__icons">
                                    <img src="../../img/tour-guide-2.jpg" alt="photo for review"
                                        class="detail__tour-guide">
                                    Ashish Pokhrel</div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="section-gallery">
        <ul class="gallery-showcase clearfix">
            <li>
                <figure class="gallery-photo">
                    <img src="../../img/gosaikunda-2.jpeg" alt="Korean bibimbap with egg and vegetables">
                </figure>
            </li>
            <li>
                <figure class="gallery-photo">
                    <img src="../../img/jungle-safari-2.jpg" alt="Simple italian pizza with cherry tomatoes">
                </figure>
            </li>
            <li>
                <figure class="gallery-photo">
                    <img src="../../img/jungle-safari-3.jpg" alt="Chicken breast steak with vegetables">
                </figure>
            </li>

        </ul>

    </section>

    <section class="detail-ratings">

        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">Reviews</h2>
        </div>
        <div class="row">
            <div class="reviews reviews--detail">
                <figure class="reviews__shape reviews__shape--detail">
                    <img src="../../img/review 1.jpg" alt="photo for review" class="reviews__img reviews__img--detail">
                    <figcaption class="reviews__caption">Emily Kutcher</figcaption>
                </figure>
                <div class="reviews__text reviews__text--detail">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione hic repellat autem quidem
                        officiis explicabo magni qua</p>
                </div>
                <div class="reviews__star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>


            <div class="reviews reviews--detail">
                <figure class="reviews__shape reviews__shape--detail">
                    <img src="../../img/jenny ally.jpg" alt="photo for review"
                        class="reviews__img reviews__img--detail">
                    <figcaption class="reviews__caption">Jenny Ally</figcaption>
                </figure>
                <div class="reviews__text reviews__text--detail">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione hic repellat autem quidem
                        officiis explicabo magni qua</p>
                </div>
                <div class="reviews__star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>



            <div class="reviews reviews--detail">
                <figure class="reviews__shape reviews__shape--detail">
                    <img src="../../img/ashton kutcher.jpg" alt="photo for review"
                        class="reviews__img reviews__img--detail">
                    <figcaption class="reviews__caption">David Williams</figcaption>
                </figure>
                <div class="reviews__text reviews__text--detail">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione hic repellat autem quidem
                        officiis explicabo magni qua</p>
                </div>
                <div class="reviews__star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
    </section>
    <section class="book-now-box">


        <div class="col-span-1-of-2">

            <h2 class="heading-secondary heading-secondary--big"> WHAT ARE YOU WAITING FOR?</h2>

            <p class="paragraph">
                24 K. 1 Place for all. Infinite memories. Make it yours today!
            </p>

        </div>
        <div class="col-span-1-of-2">
            <a href="#" class="btn btn--green book-now-box__link">Book Now!</a>
        </div>
    </section>
</section>
<footer class="footer">
    <div class="footer__logo-box">
        <img src="{% static 'img/logo.png' %} " alt="visit nepal 2020" class="footer__logo">
    </div>
    <div class="row">
        <div class="footer__navigation">
            <div class="col-1-of-2">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">About us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Contact us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">About Nepal</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Policy</a></li>
                </ul>
            </div>
            <div class="col-1-of-2">
                <ul class="footer__list footer__list--2">
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="logo-github"></ion-icon>
                        </a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="mail"></ion-icon>
                        </a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <p>Copyright &copy; Yatra Nepal, Visit Nepal 2020</p>
    </div>

</footer>
{% endblock content %}