{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<section class="section-detail">
    <header class="detail detail--1">
        <nav class="nav-bar">
            <div class="row">
                <img src="{% static 'img/logo.png' %}" alt="logo" class="nav-bar__logo">
                <ul class="nav-bar__titles">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Adventures</a></li>
                    <li><a href="#">Hotels</a></li>
                    <li><a href="#">Book</a></li>
                </ul>
            </div>
        </nav>
        <div class="header__text-box">


            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--detail">Gosaikunda</span>
                    <span class="heading-primary--sub">Meet mother nature</span>
                </h1>
            </div>
        </div>
    </header>

    <section class="detail-text">

        <div class="row">

            <div class="col-1-of-2">
                <div class="u-center-text u-margin-bottom-medium u-margin-top-big">
                    <h2 class="heading-secondary heading-secondary--big u-margin-bottom-medium"> About Gosaikunda</h2>
                    <p class="paragraph paragraph--justified">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Distinctio cumque quis reiciendis voluptatibus, a voluptates. Cum ullam cumque voluptatibus,
                        suscipit voluptate maiores! Ex in ad officia illo impedit eum provident.<br><br>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat dolorem modi praesentium quod
                        porro, dignissimos, delectus corrupti dolor omnis beatae hic tempora! Temporibus dolorem,
                        placeat obcaecati voluptatum porro consequatur mollitia?Lorem ipsum dolor, sit amet consectetur
                        adipisicing elit. Incidunt laboriosam quia, odio cumque non rerum repellendus esse velit
                        delectus tempora, sint praesentium voluptate reprehenderit quo, sequi expedita quis inventore.
                        Suscipit.
                    </p>
                </div>
            </div>




            <div class="col-1-of-2">

                <div class="u-center-text u-margin-bottom-medium u-margin-top-big">
                    <h2 class="heading-secondary heading-secondary--big"> To do List</h2>
                    <div class="cards__details">


                        <ul class="detail-text__items">
                            <li>
                                <div class="detail__icons">
                                    <ion-icon name="walk"></ion-icon>
                                    Hiking
                                </div>
                            </li>

                            <li>
                                <div class="detail__icons">
                                    <ion-icon name="bonfire"></ion-icon>Mountainnering
                                </div>
                            </li>

                            <li>
                                <div class="detail__icons">
                                    <ion-icon name="bicycle"></ion-icon>Cycling
                                </div>
                            </li>

                            <li>
                                <div class="detail__icons">
                                    <ion-icon name="videocam"></ion-icon>Photography
                                </div>
                            </li>

                            <li>
                                <div class="detail__icons">
                                    <ion-icon name="car"></ion-icon>Safari
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="section-gallery">
        <ul class="gallery-showcase clearfix">
            <li>
                <figure class="gallery-photo">
                    <img src="../../img/gosaikunda.jpg" alt="Korean bibimbap with egg and vegetables">
                </figure>
            </li>
            <li>
                <figure class="gallery-photo">
                    <img src="../../img/gosaikunda-2.jpeg" alt="Simple italian pizza with cherry tomatoes">
                </figure>
            </li>
            <li>
                <figure class="gallery-photo">
                    <img src="../../img/gosaikunda-3.jpg" alt="Chicken breast steak with vegetables">
                </figure>
            </li>

        </ul>

    </section>
    <section class="detail-ratings">

        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">Reviews</h2>
        </div>
        <div class="row">
            <div class="reviews reviews--detail">
                <figure class="reviews__shape reviews__shape--detail">
                    <img src="../../img/review 1.jpg" alt="photo for review" class="reviews__img reviews__img--detail">
                    <figcaption class="reviews__caption">Emily Kutcher</figcaption>
                </figure>
                <div class="reviews__text reviews__text--detail">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione hic repellat autem quidem
                        officiis explicabo magni qua</p>
                </div>
                <div class="reviews__star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>


            <div class="reviews reviews--detail">
                <figure class="reviews__shape reviews__shape--detail">
                    <img src="../../img/jenny ally.jpg" alt="photo for review"
                        class="reviews__img reviews__img--detail">
                    <figcaption class="reviews__caption">Jenny Ally</figcaption>
                </figure>
                <div class="reviews__text reviews__text--detail">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione hic repellat autem quidem
                        officiis explicabo magni qua</p>
                </div>
                <div class="reviews__star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>



            <div class="reviews reviews--detail">
                <figure class="reviews__shape reviews__shape--detail">
                    <img src="../../img/ashton kutcher.jpg" alt="photo for review"
                        class="reviews__img reviews__img--detail">
                    <figcaption class="reviews__caption">David Williams</figcaption>
                </figure>
                <div class="reviews__text reviews__text--detail">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione hic repellat autem quidem
                        officiis explicabo magni qua</p>
                </div>
                <div class="reviews__star">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
        </div>
    </section>
</section>
<footer class="footer">
    <div class="footer__logo-box">
        <img src="{% static 'img/logo.png' %} " alt="visit nepal 2020" class="footer__logo">
    </div>
    <div class="row">
        <div class="footer__navigation">
            <div class="col-1-of-2">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">About us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Contact us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">About Nepal</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Policy</a></li>
                </ul>
            </div>
            <div class="col-1-of-2">
                <ul class="footer__list footer__list--2">
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="logo-github"></ion-icon>
                        </a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="mail"></ion-icon>
                        </a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <p>Copyright &copy; Yatra Nepal, Visit Nepal 2020</p>
    </div>

</footer>
{% endblock content %}