{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{place.placeName}} | {% endblock %}
{% block header_content %}
<style>
    .detail {
        background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.6), rgba(86, 67, 250, 0.6)),
        url({{place.placeImage.url}});
    }
</style>
<div class="header__text-box">
    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--detail">{{place.placeName}}</span>
            <span class="heading-primary--sub">{{place.placetheme}}</span>
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
<section class="detail-text">

    <div class="row">

        <div class="col-1-of-3">
            <div class="u-center-text u-margin-bottom-medium u-margin-top-big">
                <h2 class="heading-secondary heading-secondary--big u-margin-bottom-medium"> About
                    {{place.placeName}}</h2>
                <p class="paragraph paragraph--justified">{{place.placeDesc|safe}}
                </p>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="u-center-text u-margin-bottom-medium u-margin-top-big">
                <h2 class="heading-secondary heading-secondary--big"> To do List</h2>
                <div class="cards__details">
                    <ul class="detail-text__items">
                        {% for item in adventure %}
                        <li><a href="../adventure/{{item.adventureSlug}}">
                                <div class="detail__icons">
                                    {{item.adventureName}}
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="u-center-text u-margin-bottom-medium u-margin-top-big">
                <h2 class="heading-secondary heading-secondary--big"> To do List</h2>
            <div class="feature-box">
                <i class="feature-box__icon icon-weather-downpour-sun"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">18 &#8451; | &#8457;</h3>
                <p class="feature-box__text">Budol, Dhulikhel <br> Sunday 13:00 <br> Mostly Cloudy</p>
            </div>
        </div>

    </div>
</section>
<section class="section-gallery">
    <ul class="gallery-showcase clearfix">
        {% for image in placeImage %}
        <li>
            <figure class="gallery-photo">
                <img src="{{image.placeImage.url}}" alt="{{image}}">
            </figure>
        </li>
        {% endfor %}
    </ul>

</section>
<section class="detail-ratings">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">Reviews</h2>
    </div>
    <div class="row">
        {% for r,p in reviews %}
        <div class="reviews reviews--detail">
            <figure class="reviews__shape reviews__shape--detail">
                <img src="{{p.profileImage.url}}" alt="photo for review" class="reviews__img reviews__img--detail">
                <figcaption class="reviews__caption">{{r.user.first_name}} {{r.user.last_name}}</figcaption>
            </figure>

            <div class="reviews__text reviews__text--detail">
                <p>{{r.comments}}</p>
            </div>
            <div class="reviews__star">
                {% if r.rating == 5 %}
                {% for rating in five_stars_review%}
                <span class="fa fa-star {{rating}}"></span>
                {% endfor %}

                {% elif r.rating == 4 %}
                {% for rating in four_stars_review%}
                <span class="fa fa-star {{rating}}"></span>
                {% endfor %}

                {% elif r.rating == 3 %}
                {% for rating in three_stars_review%}
                <span class="fa fa-star {{rating}}"></span>
                {% endfor %}


                {% elif r.rating == 2 %}
                {% for rating in two_stars_review%}
                <span class="fa fa-star {{rating}}"></span>
                {% endfor %}

                {% else %}
                {% for rating in four_stars_review%}
                <span class="fa fa-star {{rating}}"></span>
                {% endfor %}
                {% endif %}
            </div>

        </div>

        {% endfor %}
    </div>
</section>
</section>
{% if user.is_authenticated %}
<section class="section-profile">
    <div class="row">
        <div class="register">
            <form method="POST" class="register__form">
                <div class="u-center-text u-margin-bottom-medium">
                    <h2 class="heading-secondary"> Write a Review!!!</h2>
                </div>

                {% csrf_token %}
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <div class="form__group">
                    {{ form.reviewedFor }}
                </div>
                <div class="form__group">
                    {{ form.rating.errors }}
                    {{ form.rating }}
                    <label class="form__label" for="{{ form.rating.id_for_label }}"> Rating</label>
                </div>
                <div class="form__group">
                    {{ form.comments.errors }}
                    {{ form.comments }}
                    <label class="form__label" for="{{ form.comments.id_for_label }}"> Comments</label>
                </div>
                <div class="form__group">
                    <button type="submit" class="btn btn--green">Submit</button>
                </div>
            </form>
        </div>

    </div>
</section>
{% endif %}
{% endblock content %}