{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Update Password | {% endblock %}
{% block header_content %}
<div class="header__text-box">
    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--detail">Update Password</span>
        </h1>
    </div>
</div>
</header>
{% endblock header_content%}
{% block content %}
<style>
    .detail {
        background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.6), rgba(86, 67, 250, 0.6)),
            url();
    }
</style>
<section class="section-register">
    <div class="u-center-text u-margin-bottom-medium">
    </div>
    <div class="row">
        <div class="book">
            <form method="post" class="book__form">{% csrf_token %}
                <div class="form__group">
                    {{ form.old_password }}
                    <label class="form__label" for="{{ form.old_password.id_for_label }}">Old Password</label>
                </div>
                <div class="form__group">
                    {{ form.new_password1 }}
                    <label class="form__label" for="{{ form.new_password1.id_for_label }}">New Password</label>
                </div>
                <div class="form__group">
                    {{ form.new_password2 }}
                    <label class="form__label" for="{{ form.new_password2.id_for_label }}">Confirm Password</label>
                </div>
                <div class="form__group">
                    <button type="submit" class=" btn btn--green">Update</button>
                </div>
            </form>
        </div>
    </div>
</section>
<div class="u-center-text u-padding-bottom-huge">
</div>
{% endblock content %}