{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Connect | {% endblock %}
{% block header_content %}
<div class="header__text-box">
    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--detail">Connect</span>
            <span class="heading-primary--sub"> lets connect with others</span>
        </h1>
    </div>
</div>
{% endblock header_content %}
{% block content %}
<style>
    .detail {
        background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.6), rgba(86, 67, 250, 0.6)),
            url();
    }
</style>
<section class="detail-text">

        <div class="row">

            <div class="col-1-of-2">
                </div>
            </div>

        </div>
</section>

<div>
    <div class="wallcontainer">
        <div class="profilecard">
            <div class="profilecardhead"></div>
            <div class="profilecardimagediv">
                <img src="{{profile.profileImage.url}}">
            </div>

            <div class="profilecardnameidcont">
                <div class="profilecardnamecont">
                    <span id="profilecardname"></span>
                </div>
                <span id="profilecarduid"></span>
            </div>

            <div class="profilecardstatsdiv">
                <h3 class="heading-tertiary"> Full name </h3>
                    <p class="paragraph">{{user.first_name}} {{user.last_name}}</p>
                    <h3 class="heading-tertiary "> user name </h3>
                    <p class="paragraph">{{user.username}}</p>
                    <h3 class="heading-tertiary "> Email </h3>
                    <p class="paragraph">{{user.email}}</p>
                    <h3 class="heading-tertiary "> Bio: </h3>

                    <p class="paragraph"> {{profile.bio}}</p>
                    <div class="form__group">
                        <a href="{% url 'profile' user.username %}"> <button class="btn btn--green">See Profile</button></a>
                    </div>
                        <a href="{% url 'logout' %}"> <button class="btn btn--green">Logout</button></a>


            </div>
        </div>


        <div class="rightcontainer">
            <div class="posttweetcontainer">
                <img class="posttweetprofimg" src="{{profile.profileImage.url}}">
                <form method="POST">
                    {% csrf_token %}
                    <div class="ml56px">
                    <div class="posttweettacontainer">
                    {{ form.status }}
                    </div>
                    <div class="posttweetbutcont">
                        <button type="submit" id="posttweetbut" class="posttweetbut">Share</button>
                    </div>
                </div>
                </form>
            </div>
            <div>
                <ul id="tweetscontainer" class="tweetscontainer">

                </ul>
            </div>
        </div>
    </div>
        {% for statuses,image,name, uname in status%}
        <div class="row u-margin-top-big">
            <div class="reviews reviews--detail reviews--detail--connect reviews--detail--feed">
               <a href="{% url 'profile' uname %}"> <figure class="reviews__shape reviews__shape--detail reviews__shape--detail--connect">
                    <img src="{{image}}" alt="photo for review" class="reviews__img reviews__img--detail">
                    <figcaption class="reviews__caption">{{name}}</figcaption>
                </figure></a>
                <div class="reviews__text reviews__text--detail reviews__text--detail--connect">

                    <p>{{statuses.status}}</p>
                </div>

            </div>
            </div>
            {% endfor %}

    </div>
</div>
<div class= "margin-top"></div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
</section>
{% endblock content %}