{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Connect | {% endblock %}
{% block header_content %}
<div class="header__text-box">
    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--detail">Connect</span>
            <span class="heading-primary--sub"> lets connect with others</span>
        </h1>
    </div>
</div>
{% endblock header_content %}
{% block content %}
<style>
    .detail {
        background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.6), rgba(86, 67, 250, 0.6)),
            url();
    }
</style>
<section class="detail-text">

        <div class="row">

            <div class="col-1-of-2">

                <div class="u-center-text u-margin-bottom-small u-margin-top-big">
                    <h2 class="heading-secondary heading-secondary--big u-margin-bottom-medium"> Search here!!!</h2>
                    <div class="search-bottom u-margin-left-big">
                        <form action="profile.html">

                            <div class="form__group">
                                <input type="text" class="form__input form__input--connect" placeholder="Who are You Looking For?" id="search-word" required>
                                <label for="search-word" class="form__label form__label--connect" >Enter Name to Search <ion-icon name="search"></ion-icon></label>
                            </div>

                           <!-- <div class="form__group">
                                <button class="btn btn--green">Login</button>
                            </div>-->
                        </form>
                    </div>
                    <!--<div id="cover">
                        <form method="get" action="../../pages/connect/profile.html">
                          <div class="tb">
                            <div class="td">
                                <input type="text" id="search-text" placeholder="Who are You Looking For!" required>
                            </div>
                            <div class="td" id="s-cover">
                              <button type="submit" id="submit-button">
                                <div id="s-circle"></div>
                                <span></span>
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>-->
                </div>
            </div>

        </div>
</section>

<div>
    <div class="wallcontainer">
        <div class="profilecard">
            <div class="profilecardhead"></div>
            <div class="profilecardimagediv">
                <img src="../../img/tour-guide-1.png">
            </div>

            <div class="profilecardnameidcont">
                <div class="profilecardnamecont">
                    <span id="profilecardname"></span>
                </div>
                <span id="profilecarduid"></span>
            </div>

            <div class="profilecardstatsdiv">
                <h3 class="heading-tertiary"> Full name </h3>
                    <p class="paragraph">Ashish Pokhrel</p>
                    <h3 class="heading-tertiary "> user name </h3>
                    <p class="paragraph">Ashish Pokhrel</p>
                    <h3 class="heading-tertiary "> Email </h3>
                    <p class="paragraph">Ashish Pokhrel</p>
                    <h3 class="heading-tertiary "> Bio: </h3>

                    <p class="paragraph"> Traveling is my thing</p>

            </div>
        </div>


        <div class="rightcontainer">
            <div class="posttweetcontainer">
                <img class="posttweetprofimg" src="../../img/tour-guide-1.png">
                <form method="POST">
                    {% csrf_token %}
                <div class="ml56px">
                    <div class="posttweettacontainer">
                        {{ form.status.errors }}
                        {{ form.status }}
                    </div>
                    <div class="posttweetbutcont">
                        <button type="submit" id="posttweetbut" class="posttweetbut">Share</button>
                    </div>
                </div>
                </form>
            </div>
            <div>
                <ul id="tweetscontainer" class="tweetscontainer">

                </ul>
            </div>
        </div>

        <div class="row u-margin-top-big">
        <div class="reviews reviews--detail reviews--detail--connect">
            <figure class="reviews__shape reviews__shape--detail reviews__shape--detail--connect">
                <img src="../../img/review 1.jpg" alt="photo for review" class="reviews__img reviews__img--detail">
                <figcaption class="reviews__caption">Emily Kutcher</figcaption>
            </figure>
            <div class="reviews__text reviews__text--detail reviews__text--detail--connect">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione hic repellat autem quidem officiis explicabo magni qua</p>
            </div>

        </div>
        </div>

        <div class=" u-margin-top-big">
            <div class="reviews reviews--detail reviews--detail--connect reviews--detail--feed">
                <figure class="reviews__shape reviews__shape--detail reviews__shape--detail--connect">
                    <img src="../../img/review 1.jpg" alt="photo for review" class="reviews__img reviews__img--detail">
                    <figcaption class="reviews__caption">Emily Kutcher</figcaption>
                </figure>
                <div class="reviews__text reviews__text--detail reviews__text--detail--connect">

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione hic repellat autem quidem officiis explicabo magni qua</p>
                </div>

            </div>
            </div>

            <div class=" u-margin-top-big">
                <div class="reviews reviews--detail reviews--detail--connect reviews--detail--feed">
                    <figure class="reviews__shape reviews__shape--detail reviews__shape--detail--connect">
                        <img src="../../img/review 1.jpg" alt="photo for review" class="reviews__img reviews__img--detail">
                        <figcaption class="reviews__caption">Emily Kutcher</figcaption>
                    </figure>
                    <div class="reviews__text reviews__text--detail reviews__text--detail--connect">

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione hic repellat autem quidem officiis explicabo magni qua</p>
                    </div>

                </div>
                </div>
    </div>
</div>
<!--
<div class=pg>
    <div class="u-center-text u-margin-top-medium u-padding-bottom-medium">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="pg-no">&laquo</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="pg-no">PREV</a>
        {% endif %}
        {% for i in total_pages %}
        {% ifequal i page_obj.number  %}
        <a href="?page={{i}}" class="pg-no current">PAGE {{ i }}</a>
        {% else %}
        <a href="?page={{i}}" class="pg-no"> {{ i }}</a>
        {% endifequal %}
        {% endfor %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="pg-no">NEXT</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="pg-no">&raquo;</a>
        {% endif %}
    </div>
</div> -->
<div class= "margin-top"></div>
    <script src="../../js/script.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
</section>
{% endblock content %}