{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{ user.first_name }} {{user.last_name}} | {% endblock %}
{% block header_content %}
<div class="header__text-box">
    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--detail">Connect</span>
            <span class="heading-primary--sub"> lets connect with others</span>
        </h1>
    </div>
</div>
{% endblock header_content %}
{% block content %}
<style>
    .detail {
        background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.6), rgba(86, 67, 250, 0.6)),
            url();
    }
</style>
<section class="section-connect-profile">
    <div class="row">
            <div class="profile">
                <form action="#" class="connect__form">

                    <div class=" u-margin-bottom-small">
                        <h2 class="heading-secondary">Profile</h2>
                    </div>
                    <h3 class="heading-tertiary"> Full name </h3>
                    <p class="paragraph">{{user.first_name}} {{user.last_name}}</p>
                    <h3 class="heading-tertiary "> user name </h3>
                    <p class="paragraph">{{user.username}}</p>
                    <h3 class="heading-tertiary "> Email </h3>
                    <p class="paragraph">{{user.email}}</p>
                    <h3 class="heading-tertiary "> Country </h3>
                    <p class="paragraph">{{profile.country.name}}</p>
                    <h3 class="heading-tertiary "> Address </h3>
                    <p class="paragraph">{{profile.address}}</p>
                    <h3 class="heading-tertiary "> Date Of Birth </h3>
                    <p class="paragraph">{{profile.dob}}</p>
                    <h3 class="heading-tertiary "> Phone </h3>
                    <p class="paragraph">{{profile.phone}}</p>
                    <h3 class="heading-tertiary "> Bio: </h3>
                    <p class="paragraph"> {{profile.bio}}</p>

                    <a class="btn btn--green" href="{% url 'logout' %}">Logout</a>
                    <div>


                    <a class="btn-text" href="{% url 'edit_profile' profile.pk %}">Edit Profile</a>
                    <a class="btn-text" href="{% url 'edit_core_profile' user.pk %}">Change Password</a>
                            </div>

                    <div class="profile__img-box">
                    <img src="{{profile.profileImage.url}}" class="profile__img" alt="profile image">
                    </div>
                </form>
            </div>
    </div>
</section>
<div class="margin-top"></div>
<script src="../../js/script.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock content %}