{% load staticfiles %}
<section class="section-about">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary"> Adventures to do In nepal!!!</h2>
    </div>

    <div class="row">
        <div class="col-1-of-2">
            {% for a in adventures %}
            <h3 class="heading-tertiary u-margin-bottom-small">{{a.adventureName}}</h3>
            <p class="paragraph">{{a.adventureDesc|safe |slice:500}}
            </p>
            {% endfor %}
            <a href="#" class="btn-text">Learn More &rarr;</a>
        </div>
        <div class="col-1-of-2">
            <div class="composition">
                {% for a in adventures %}
                <img src="media/{{a.adventureImage}}" alt="{{a.adventureName}}"
                    class="composition__photo composition__photo--p{{a.id}}">
                {% endfor %}
            </div>
        </div>
    </div>
</section>