<section class="section-connect">
    <div class="row">
        <div class="connect">
            <form action="#" class="connect__form">

                <div class=" u-margin-bottom-small">
                    <h2 class="heading-secondary"> Connect with others</h2>
                </div>
                <div class=" u-margin-bottom-small">
                    <p class="paragraph">We allow Our users to connect with each other. Lorem ipsum dolor
                        sit
                        amet consectetur adipisicing elit. Adipisci reprehenderit ipsum eos, placeat,
                        praesentium iste quia eveniet alias nesciunt at sint obcaecati doloribus natus!
                        Maxime
                        cupiditate earum expedita asperiores accusantium.</p>
                </div>
                <div class="form__group">
                    <button class="btn btn--green">Lets Connect</button>
                </div>

                <div class="form__group">
                    <span class="form__register-text"> Donot have Profile?</span><a href="#" class="btn-text">Create
                        Now &rarr;</a>
                </div>
            </form>
        </div>
    </div>
</section>