<section class="section-connect">
    <div class="row">
        <div class="connect">
            <form action="#" class="connect__form">

                <div class=" u-margin-bottom-small">
                    <h2 class="heading-secondary"> Connect with others</h2>
                </div>
                <div class=" u-margin-bottom-small">
                    <p class="paragraph">We allow Our users to connect with each other. Lorem ipsum dolor
                        sit
                        amet consectetur adipisicing elit. Adipisci reprehenderit ipsum eos, placeat,
                        praesentium iste quia eveniet alias nesciunt at sint obcaecati doloribus natus!
                        Maxime
                        cupiditate earum expedita asperiores accusantium.</p>
                </div>
                {% if user.is_authenticated %}
                <div class="form__group">
                    <a href=""><button class="btn btn--green">See Profile</button></a>
                </div>

                <div class="form__group">
                    <span class="form__register-text"> Hello {{user.first_name}} {{user.last_name}}</span><a
                        href="{% url 'logout' %}" class="btn-text">Logout &rarr;</a>
                </div>
                {% else %}
                <div class="form__group">
                    <span class="form__register-text"> Login to Connect</span><a href="{% url 'login' %}"
                        class="btn-text">Login &rarr;</a>
                        <br>
                         <span class="form__register-text"> Don'r have an account?</span><a href="{% url 'register' %}"
                             class="btn-text">Create One &rarr;</a>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</section>