<section class="section-features">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary heading-secondary--1"> Features</h2>
    </div>
    <div class="row">
        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-map"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">Places to visit</h3>
                <p class="feature-box__text">We provide you various places to visit. No hastle to search for
                    other sites.</p>
            </div>
        </div>

        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-home"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">Hotels to stay</h3>
                <p class="feature-box__text">We provide you various places to visit. No hastle to search for
                    other sites.</p>
            </div>
        </div>

        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-signs"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">Adventures for you</h3>
                <p class="feature-box__text">We provide you various places to visit. No hastle to search for
                    other sites.</p>
            </div>
        </div>

        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-mail-open-text"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">Connect with others</h3>
                <p class="feature-box__text">We provide you various places to visit. No hastle to search for
                    other sites.</p>
            </div>
        </div>

    </div>
</section>