<section class="section-hotels">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary heading-secondary--1">
            Hotels to Stay
        </h2>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            <div class="cards">
                <div class="cards__side cards__side--front">
                    <div class="cards__picture cards__picture--4">
                        &nbsp;
                    </div>
                    <h4 class="cards__heading">
                        <span class="cards__heading-span cards__heading-span--4">
                            Hyatt Regency Kathmandu
                        </span>
                    </h4>
                    <div class="cards__details">
                        <ul>
                            <li>5 restaurant Inside</li>
                            <li>Kathmaandu</li>
                            <li>Heated Swimming Pool</li>
                            <li>Transporation</li>
                            <li>outdoor Sports</li>
                        </ul>
                    </div>
                </div>
                <div class="cards__side cards__side--back cards__side--back-4">
                    <div class="cards__cta">
                        <div class="cards__price-box">
                            <div class="cards__price-only">Only</div>
                            <div class="cards__price-value">14k npr</div>
                            <div class="cards__price-only">1 Room | 1 Guest</div>
                        </div>
                        <a href="#" class="btn btn--white">Book Now!</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="cards">
                <div class="cards__side cards__side--front">
                    <div class="cards__picture cards__picture--5">
                        &nbsp;
                    </div>
                    <h4 class="cards__heading">
                        <span class="cards__heading-span cards__heading-span--5">
                            Soaltee Crowne Plaza
                        </span>
                    </h4>
                    <div class="cards__details">
                        <ul>
                            <li>5 restaurant Inside</li>
                            <li>Kathmandu</li>
                            <li>Heated Swimming Pool</li>
                            <li>Transporation</li>
                            <li>Outdoor Sports</li>
                        </ul>
                    </div>
                </div>
                <div class="cards__side cards__side--back cards__side--back-5">
                    <div class="cards__cta">
                        <div class="cards__price-box">
                            <div class="cards__price-only">Only</div>
                            <div class="cards__price-value">16k npr</div>
                            <div class="cards__price-only">1 Room | 1 Guest</div>
                        </div>
                        <a href="#" class="btn btn--white">Book Now!</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="cards">
                <div class="cards__side cards__side--front">
                    <div class="cards__picture cards__picture--6">
                        &nbsp;
                    </div>
                    <h4 class="cards__heading">
                        <span class="cards__heading-span cards__heading-span--6">
                            Radisson Hotel Kathmandu
                        </span>
                    </h4>
                    <div class="cards__details">
                        <ul>
                            <li>5 restaurant Inside</li>
                            <li>Kathmandu</li>
                            <li>Heated Swimming Pool</li>
                            <li>Transporation</li>
                            <li>Outdoor Sports</li>
                        </ul>
                    </div>
                </div>
                <div class="cards__side cards__side--back cards__side--back-6">
                    <div class="cards__cta">
                        <div class="cards__price-box">
                            <div class="cards__price-only">Only</div>
                            <div class="cards__price-value">13k npr</div>
                            <div class="cards__price-only">1 Room | 1 Guest</div>
                        </div>
                        <a href="#" class="btn btn--white">Book Now!</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="u-center-text u-margin-top-huge">
        <a href="#" class="btn btn--green">Show More Hotels</a>
    </div>
</section>