<section class="section-hotels">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary heading-secondary--1">
            Hotels to Stay
        </h2>
    </div>

    <div class="row">
        {% for h in hotels %}
        <style>
            .cards__picture--{{h.hotelSlug}}
                {
                background-image: linear-gradient(to right bottom, #2998ff, #ff7730),
                url({{h.hotelImage.url}});
            }
        </style>
        <div class="col-1-of-3">
            <div class="cards">
                <div class="cards__side cards__side--front">
                    <div class="cards__picture cards__picture--{{h.hotelSlug}}">
                        &nbsp;
                    </div>
                    <h4 class="cards__heading">
                        <span class="cards__heading-span cards__heading-span--4">
                            {{h.hotelName}}
                        </span>
                    </h4>
                    <div class="cards__details">
                        <ul>
                            {% for list in h.features_as_list %}
                            <li>{{list|safe}}</li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
                <div class="cards__side cards__side--back cards__side--back-4">
                    <div class="cards__cta">
                        <div class="cards__price-box">
                            <div class="cards__price-only">Only</div>
                            <div class="cards__price-value">{{h.hotelPrice}} NPR</div>
                            <div class="cards__price-only">1 Room | 1 Guest</div>
                        </div>
                        <a href="hotel/{{h.hotelSlug}}" class="btn btn--white">See Details!</a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="u-center-text u-margin-top-huge">
        <a href="{% url 'hotels' %}" class="btn btn--green">See All Hotels</a>
    </div>
</section>