{% load staticfiles %}
<section class="section-profile">
    <div class="row">
        <div class="profile">
            <form action="#" class="connect__form">
                <div class=" u-margin-bottom-small">
                    <h2 class="heading-secondary"> Your Profile</h2>
                </div>
                <h3 class="heading-tertiary"> Full name </h3>
                <p class="paragraph">{{ fullname }}</p>
                <h3 class="heading-tertiary "> Country </h3>
                <p class="paragraph">{{ userDetail.country.name }}</p>
                <h3 class="heading-tertiary "> Email </h3>
                <p class="paragraph">{{user.email}}</p>
                <h3 class="heading-tertiary "> Bio: </h3>

                <p class="paragraph"> {{userDetail.bio}}</p>
                <div class="form__group">
                    <a href="{{user.username}}"><button class="btn btn--green">Go to Profile</button></a> &nbsp;&nbsp;
                    <a href="{% url 'logout' %}"><button class="btn btn--green">Log Out</button></a>
                </div>
                <div class="profile__img-box">
                    <img src="media/{{userDetail.profileImage}}" class=" profile__img" alt="profile image">
                </div>
            </form>
        </div>
    </div>
</section>