<section class="section-features">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary heading-secondary--1"> some more Features</h2>
    </div>
    <div class="row">

        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-ecommerce-dollar"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">cURRENCY CONVERTER</h3>
                <p class="feature-box__text">We provide you various places to visit. No hastle to search for
                    other sites.</p>
            </div>
        </div>

        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-elaboration-todolist-check"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">vechicle fares</h3>
                <p class="feature-box__text">We provide you various places to visit. No hastle to search for
                    other sites.</p>
            </div>
        </div>

        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-star"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">Street foods</h3>
                <p class="feature-box__text">We provide you various places to visit. No hastle to search for
                    other sites.</p>
            </div>
        </div>

        <div class="col-1-of-4">
            <div class="feature-box">
                <i class="feature-box__icon icon-basic-exclamation"></i>
                <h3 class="heading-tertiary u-margin-bottom-small">Rules to follow</h3>
                <p class="feature-box__text">We provide you various places to visit. No hastle to search for
                    other sites.</p>
            </div>
        </div>

    </div>
</section>