<section class="section-news">
    <div class="u-center-text u-margin-bottom-medium">
        <h2 class="heading-secondary"> News and Events</h2>
    </div>
    <div class="row">
        <div class="news">
            <div class="crawl">
                <ol class="crawl__list">
                    <li class="crawl__item">Govt told to intensify bid to resolve border dispute</li>
                    <li class="crawl__item">Increase in number of women delivering at Bhojpur health facilities
                    </li>
                    <li class="crawl__item">Govt told to intensify bid to resolve border dispute</li>
                    <li class="crawl__item">Govt told to intensify bid to resolve border dispute</li>
                    <li class="crawl__item">Govt told to intensify bid to resolve border dispute</li>
                    <li class="crawl__item">Govt told to intensify bid to resolve border dispute</li>
                    <li class="crawl__item">Govt told to intensify bid to resolve border dispute</li>
                </ol>
                <a href="#" class="btn-text">Learn More &rarr;</a>
            </div>
        </div>

    </div>
</section>