<section class="section-news">
    <div class="u-center-text u-margin-bottom-medium">
        <h2 class="heading-secondary"> News and Events</h2>
    </div>
    <div class="row">
        <div class="news">
            <div class="crawl">
                <ol class="crawl__list">
                    {% for h,i in news_title %}
                    <a href="news/{{ i }}">
                        <li class="crawl__item">{{ h }}</li>
                    </a>
                    {% endfor %}
                </ol>
                <a href="{% url 'news' %}" class="btn-text">See All News &rarr;</a>
            </div>
        </div>

    </div>
</section>