{% load staticfiles %}
<section class="section-places">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary"> Places to visit</h2>
    </div>

    <div class="row">
        <div class="col-1-of-2">
            {% for p in places %}
            <a href="place/{{p.placeSlug}}">
                <h3 class="heading-tertiary u-margin-bottom-small">{{p.placeName}}</h3>
            </a>
            <style>
                a {
                    text-decoration: none;
                    text-color:
                }
            </style>
            <p class="paragraph">
                {{p.placeDesc|safe}}
            </p>
            {% endfor %}
            <a href="#" class="btn-text">Learn More &rarr;</a>
        </div>
        <div class="col-1-of-2">
            <div class="composition">
                {% for p in places %}
                <img src="media/{{p.placeImage}}" alt="{{p.placeName}}"
                    class="composition__photo composition__photo--p{{p.id}}">
                {% endfor %}
            </div>
        </div>
    </div>
</section>