<section class="section-tours">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary heading-secondary--1">
            Most Popular Packages
        </h2>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            <div class="cards">
                <div class="cards__side cards__side--front">
                    <div class="cards__picture cards__picture--1">
                        &nbsp;
                    </div>
                    <h4 class="cards__heading">
                        <span class="cards__heading-span cards__heading-span--1">
                            Living with nature
                        </span>
                    </h4>
                    <div class="cards__details">
                        <ul>
                            <li>5 day Hiking</li>
                            <li>Gosaikunda | Rara| Muktinath</li>
                            <li>Hotels available</li>
                            <li>Transporation</li>
                            <li>Foods available</li>
                        </ul>
                    </div>
                </div>
                <div class="cards__side cards__side--back cards__side--back-1">
                    <div class="cards__cta">
                        <div class="cards__price-box">
                            <div class="cards__price-only">Only</div>
                            <div class="cards__price-value">24k npr</div>
                        </div>
                        <a href="#" class="btn btn--white">Book Now!</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="cards">
                <div class="cards__side cards__side--front">
                    <div class="cards__picture cards__picture--2">
                        &nbsp;
                    </div>
                    <h4 class="cards__heading">
                        <span class="cards__heading-span cards__heading-span--2">
                            to the Mountains
                        </span>
                    </h4>
                    <div class="cards__details">
                        <ul>
                            <li>5 day Hiking</li>
                            <li>Gosaikunda | Rara| Muktinath</li>
                            <li>Hotels available</li>
                            <li>Transporation</li>
                            <li>Foods available</li>
                        </ul>
                    </div>
                </div>
                <div class="cards__side cards__side--back cards__side--back-2">
                    <div class="cards__cta">
                        <div class="cards__price-box">
                            <div class="cards__price-only">Only</div>
                            <div class="cards__price-value">24k npr</div>
                        </div>
                        <a href="#" class="btn btn--white">Book Now!</a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-1-of-3">
            <div class="cards">
                <div class="cards__side cards__side--front">
                    <div class="cards__picture cards__picture--3">
                        &nbsp;
                    </div>
                    <h4 class="cards__heading">
                        <span class="cards__heading-span cards__heading-span--3">
                            the hiking karisma
                        </span>
                    </h4>
                    <div class="cards__details">
                        <ul>
                            <li>5 day Hiking</li>
                            <li>Gosaikunda | Rara| Muktinath</li>
                            <li>Hotels available</li>
                            <li>Transporation</li>
                            <li>Foods available</li>
                        </ul>
                    </div>
                </div>
                <div class="cards__side cards__side--back cards__side--back-3">
                    <div class="cards__cta">
                        <div class="cards__price-box">
                            <div class="cards__price-only">Only</div>
                            <div class="cards__price-value">24k npr</div>
                        </div>
                        <a href="#" class="btn btn--white">Book Now!</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="u-center-text u-margin-top-huge">
        <a href="#" class="btn btn--green">More Packages</a>
    </div>
</section>