<section class="section-tours">
    <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary heading-secondary--1">
            Most Popular Packages
        </h2>
    </div>

    <div class="row">
        {% for p in packages %}
        <style>
            .cards__picture--{{p.packageSlug}}
                {
                background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
                url(media/{{p.packageImage}});
            }
        </style>
        <div class="col-1-of-3">
            <div class="cards">
                <div class="cards__side cards__side--front">
                    <div class="cards__picture cards__picture--{{p.packageSlug}}">
                        &nbsp;
                    </div>
                    <h4 class="cards__heading">
                        <span class="cards__heading-span cards__heading-span--1">
                            {{p.packageName}}
                        </span>
                    </h4>
                    <div class="cards__details">
                        <ul>
                            {% for list in p.package_features_as_list %}
                            <li>{{list|safe}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="cards__side cards__side--back cards__side--back-1">
                    <div class="cards__cta">
                        <div class="cards__price-box">
                            <div class="cards__price-only">Only</div>
                            <div class="cards__price-value">{{p.packagePrice}}</div>
                        </div>
                        <a href="{{p.packageSlug}}" class="btn btn--white">Book Now!</a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="u-center-text u-margin-top-huge">
        <a href="#" class="btn btn--green">More Packages</a>
    </div>
</section>