{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Adventures | {% endblock %}
{% block header_content %}
    <div class="header__text-box">
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--detail">Adventures</span>
                <span class="heading-primary--sub">All Adventures in Nepal</span>
            </h1>
        </div>
    </div>
</header>
{% endblock header_content%}
{% block content %}
<style>
    .detail {
        background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.6), rgba(86, 67, 250, 0.6)),
            url();
    }
</style>
<section class="section-more-cards">
    <div class="u-center-text u-margin-bottom-big">
    </div>
    <div class="row">
        {% for a in page_obj %}
        <style>
            .cards__picture--{{a.adventureSlug}}

                {
                background-image: linear-gradient(to right bottom, #2998ff, #ff7730),
                url({{a.adventureImage.url}});
            }
        </style>
        <div class="col-1-of-3">
            <div class="cards">
                <div class="cards__side cards__side--front">
                    <div class="cards__picture cards__picture--{{a.adventureSlug}}">
                        &nbsp;
                    </div>
                    <h4 class="cards__heading">
                        <span class="cards__heading-span cards__heading-span--5">
                            {{a.adventureName}}
                        </span>
                    </h4>
                    <div class="cards__details">
                        <p class="paragraph">
                            {{a.adventureDesc|safe|slice:":300"}}
                        </p>
                    </div>
                </div>
                <div class="cards__side cards__side--back cards__side--back-5">
                    <div class="cards__cta">
                        <a href="../adventure/{{a.adventureSlug}}" class="btn btn--white">See More</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class=pg>
        <div class="u-center-text u-margin-top-medium u-padding-bottom-medium">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="pg-no">&laquo</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="pg-no">PREV</a>
            {% endif %}
            {% for i in total_pages %}
            {% ifequal i page_obj.number  %}
            <a href="?page={{i}}" class="pg-no current">PAGE {{ i }}</a>
            {% else %}
            <a href="?page={{i}}" class="pg-no"> {{ i }}</a>
            {% endifequal %}
            {% endfor %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="pg-no">NEXT</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="pg-no">&raquo;</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}