{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} News | {% endblock %}
{% block header_content %}
    <div class="header__text-box">
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--detail">News</span>
                <span class="heading-primary--sub">All Places of Nepal</span>
            </h1>
        </div>
    </div>
{% endblock header_content %}
{% block content %}

<style>
    .detail {
        background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.6), rgba(86, 67, 250, 0.6)),
            url();
    }
</style>
<section class="section-more-cards">
    <div class="u-center-text u-margin-bottom-big">
    </div>
    <div class="row">
        {% for title,image,content,link in news %}
        <style>
            .cards__picture--{{link}}
            {
                background-image: linear-gradient(to right bottom, #2998ff, #ff7730),
                url({{ image }});
            }
        </style>
        <div class="col-1-of-3">
            <div class="cards">
                <div class="cards__side cards__side--front">
                    <div class="cards__picture cards__picture--{{ link }}">
                        &nbsp;
                    </div>
                    <h4 class="cards__heading">
                        <span class="cards__heading-span cards__heading-span--5">
                            {{ title }}
                        </span>
                    </h4>
                    <div class="cards__details">
                        <p class="paragraph">
                            {{content}}
                        </p>
                    </div>
                </div>
                <div class="cards__side cards__side--back cards__side--back-5">
                    <div class="cards__cta">
                        <a href="../news/{{link}}" class="btn btn--white">See More</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class=pg>
        <div class="u-center-text u-margin-top-medium u-padding-bottom-medium">
            <a href="#" class="btn-text">&larr;Prev </a>
            <a href="#" class="btn btn--card-detail">1</a>
            <a href="#" class="btn btn--card-detail">2</a>
            <a href="#" class="btn btn--card-detail">3</a>
            <a href="#" class="btn btn--card-detail">4</a>
            <a href="#" class="btn-text">Next &rarr;</a>
        </div>
    </div>
    <style>
        .pg {
            padding-bottom: 100px;
        }
    </style>
</section>
{% endblock content %}