{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Packages | {% endblock title %}
{% block header_content %}
    <div class="header__text-box">
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--detail">Search Result</span>
                <span class="heading-primary--sub"> Results for package {% ifequal relation "1" %} Greater {% else %} Less {% endifequal %} than {{query}}  </span>
            </h1>
        </div>
    </div>
{% endblock header_content %}
{% block content %}

<style>
    .detail {
        background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.6), rgba(86, 67, 250, 0.6)),
            url();
    }
</style>
<section class="section-more-cards">
    <div class="u-center-text u-margin-bottom-big">
    </div>
    <div class="row">
        {% if not page_obj %}
        <div class="u-center-text u-margin-top-big">
            <h2 class="heading-secondary"> No Results found!</h2>
        </div>
        <div class="u-center-text u-margin-top-big"></div>
        <div class="u-margin-top-big"></div>
        {% else %}
        {% for p in page_obj %}
        <style>
            .cards__picture--{{p.packageSlug}}
                {
                background-image: linear-gradient(to right bottom, #2998ff, #ff7730),
                url({{p.packageImage.url}});
            }
        </style>
        <div class="col-1-of-3">
            <div class="cards">
                <div class="cards__side cards__side--front">
                    <div class="cards__picture cards__picture--{{p.packageSlug}}">
                        &nbsp;
                    </div>
                    <h4 class="cards__heading">
                        <span class="cards__heading-span cards__heading-span--5">
                            {{p.packageName}}
                        </span>
                    </h4>
                    <div class="cards__details">
                        <div class="cards__details">
                            <ul>
                                {% for list in p.package_features_as_list %}
                                <li>{{list|safe}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cards__side cards__side--back cards__side--back-4">
                    <div class="cards__cta">
                        <div class="cards__price-box">
                            <div class="cards__price-only">Only</div>
                            <div class="cards__price-value">{{p.packagePrice}} NPR</div>
                            <div class="cards__price-only">1 Room | 1 Guest</div>
                        </div>
                        <a href="#" class="btn btn--white">Book Now!</a><br>
                        <a href="../package/{{p.packageSlug}}" class="btn-text-white u-margin-top-huge">Learn More
                            &rarr;</a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock content %}