.cards{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    //*******Front side design(animation)
    &__side{
    //background-color: orangered;
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1.2rem 4rem rgba($color-black,.14rem);
        &--front{
           background-color: $color-white;
        }
        &--back{
            transform: rotateY(180deg);
            //**********For Hotels**********************************/
            &-4{
                background-image: linear-gradient(to right bottom, $color-tertiary-light,$color-secondary-dark);
            }
            &-5{
                background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark);
            }
            &-6{
                background-image: linear-gradient(to right bottom, $color-secondary-light,$color-secondary-dark);
            }
            //**************For packages*********************/
            &-1{
                background-image: linear-gradient(to right bottom, $color-primary-light,$color-primary-dark);
            }
            &-2{
                background-image: linear-gradient(to right bottom, $color-tertiary-light,$color-tertiary-dark);
            }
            &-3{
                background-image: linear-gradient(to right bottom, $color-secondary-light,$color-secondary-dark);
            }
        }
    }

    &:hover &__side--front{
        transform: rotateY(180deg);
    }
    &:hover &__side--back{
        transform: rotateY(0deg);
    }

    &__picture{
        height: 23rem;
        background-size: cover;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
        clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
        //*************for packages******************////
        &--3{
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark)
        ,url(../img/test/nat-5.jpg);
        }
        &--1{
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark)
        ,url(../img/test/nat-6.jpg);

        }
        &--2{
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark)
        ,url(../img/test/nat-7.jpg);
        }

        //***************for hotels************************/
            &--4{
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-secondary-dark)
            ,url(../../img/hyatt-hotel.png);
            }
            &--5{
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark)
            ,url(../../img/soaltee-crown-plaza.jpg);
    
            }
            &--6{
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-primary-dark)
            ,url(../../img/raddison-hotel.jpeg);
            }
    }
    &__heading{
        text-transform: uppercase;
        font-size: 2.8rem;
        font-weight: 300;
        color: $color-white;
        position: absolute;
        text-align: right;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span{
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        //*********for packages****************//
        &--1{
            background-image: linear-gradient(to right bottom,rgba( $color-primary-light,.85), rgba($color-primary-dark,.85));
        }
        &--2{
            background-image: linear-gradient(to right bottom,rgba( $color-tertiary-light,.85), rgba($color-tertiary-dark,.85));
        }
        &--3{
            background-image: linear-gradient(to right bottom,rgba( $color-secondary-light,.85), rgba($color-secondary-dark,.85));
        }

        //***********for Hotels********************//
        &--4{
            background-image: linear-gradient(to right bottom,rgba( $color-tertiary-light,.85), rgba($color-primary-dark,.85));
        }
        &--5{
            background-image: linear-gradient(to right bottom,rgba( $color-primary-light,.85), rgba($color-primary-dark,.85));
        }
        &--6{
            background-image: linear-gradient(to right bottom,rgba( $color-tertiary-light,.85), rgba($color-primary-dark,.85));
        }
    }
    &__details{
        padding: 3rem;
        
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
        }
        li{
            padding: 1rem;
            font-size: 1.5rem;
            text-align: center;
        
        &:not(:last-child){
            border-bottom: 1px solid $color-grey-light-2;
            }
        }
    }
    //*******Backside design 
    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:90%;
        text-align: center;
    }
    &__price-box{
        color: $color-white;
       text-transform: uppercase;
       text-align: center;
       margin-bottom: 8rem;
    }
    &__price-only{  
        font-size: 1.4rem;
        
    }
    &__price-value{
        font-size: 6rem;
        font-weight: 100;
    }
    
}
        
    
