{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/icon-font.css' %}">
    <link rel="stylesheet" href="{% static 'css/icon-font-2.css' %}">
    <link rel="stylesheet" href="{% static 'css/icon-font-3.css'  %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <title>Visit Nepal 2020</title>
</head>

<body>
    {% block content %}
    {% endblock %}

    <footer class="footer">
        <div class="footer__logo-box">
            <img src="{% static 'img/logo.png' %} " alt="visit nepal 2020" class="footer__logo">
        </div>
        <div class="row">
            <div class="footer__navigation">
                <div class="col-1-of-2">
                    <ul class="footer__list">
                        <li class="footer__item"><a href="#" class="footer__link">About us</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Contact us</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">About Nepal</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                        <li class="footer__item"><a href="#" class="footer__link">Policy</a></li>
                    </ul>
                </div>
                <div class="col-1-of-2">
                    <ul class="footer__list footer__list--2">
                        <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a></li>
                        <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a></li>
                        <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                                <ion-icon name="logo-github"></ion-icon>
                            </a></li>
                        <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                                <ion-icon name="mail"></ion-icon>
                            </a></li>
                        <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <p>Copyright &copy; Yatra Nepal, Visit Nepal 2020</p>
        </div>

    </footer>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="../../js/script.js"></script>
</body>

</html>