{% load staticfiles %}
<footer class="footer">
    <div class="footer__logo-box">
        <img src="{% static 'img/logo.png' %} " alt="visit nepal 2020" class="footer__logo">
    </div>
    <div class="row">
        <div class="footer__navigation">
            <div class="col-1-of-2">
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">About us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Contact us</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">About Nepal</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Terms</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Policy</a></li>
                </ul>
            </div>
            <div class="col-1-of-2">
                <ul class="footer__list footer__list--2">
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="logo-github"></ion-icon>
                        </a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="mail"></ion-icon>
                        </a></li>
                    <li class="footer__item"><a href="#" class="footer__link footer__link--2">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <p>Copyright &copy; Yatra Nepal, Visit Nepal 2020</p>
    </div>

</footer>