{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Login | {% endblock %}
{% block header_content %}
<div class="header__text-box">
    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--detail">Login</span>
        </h1>
    </div>
</div>
</header>
{% endblock header_content%}
{% block content %}
<style>
    .detail {
        background-image: linear-gradient(to bottom right, rgba(126, 213, 111, 0.6), rgba(86, 67, 250, 0.6)),
            url();
    }
</style>
<section class="section-register">
    <div class="u-center-text u-margin-bottom-medium">
    </div>
    <div class="row">
        <div class="book">
            <form action="#" method="POST" class="book__form">
                {% csrf_token %}
                <div class="u-center-text u-margin-bottom-medium">
                    <h2 class="heading-secondary"> Login Now!!</h2>
                </div>

                <div class="form__group">
                    {{ form.username.errors }}
                    {{ form.username }}
                    <label class="form__label" for="{{ form.username.id_for_label }}">Username</label>
                </div>

                <div class="form__group">
                    {{ form.password.errors }}
                    {{ form.password }}
                    <label class="form__label" for="{{ form.password.id_for_label }}">Password</label>
                </div>

                <div class="form__group">
                    <button type="submit" class=" btn btn--green">Login</button>
                </div>

                <div class="form__group">
                    <span class="form__register-text"> Don't have an account?</span><a href={% url 'register' %}
                        class="btn-text">Create Now
                        Now &rarr;</a>
                </div>
            </form>
        </div>
    </div>
</section>
<div class="u-center-text u-padding-bottom-huge">
</div>
{% endblock content %}