{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="section-register">
    <nav class="nav-bar">
        <div class="row">
            <img src="{% static 'img/logo.png' %}" alt="logo" class="nav-bar__logo">
            <ul class="nav-bar__titles">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Adventures</a></li>
                <li><a href="#">Hotels</a></li>
                <li><a href="#">Book</a></li>
            </ul>
        </div>
    </nav>
    <div class="u-center-text u-margin-bottom-medium">
        <h2 class="heading-secondary heading-secondary--1"> Become a Memeber!!!</h2>
    </div>
    <div class="row">
        <div class="register">
            <form method="POST" class="register__form">
                {% csrf_token %}
                <!-- <h4>{{ error }}</h4> -->
                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
                <p> {{ form.non_field_errors }} </p>
                <div class="form__group">
                    {{ form.first_name.errors }}
                    {{ form.first_name }}
                    <label class="form__label" for="{{ form.first_name.id_for_label }}">First Name</label>
                </div>
                <div class="form__group">
                    {{ form.last_name.errors }}
                    {{ form.last_name }}
                    <label class="form__label" for="{{ form.last_name.id_for_label }}">Last Name</label>
                </div>
                <div class="form__group">
                    {{ form.username.errors }}
                    {{ form.username }}
                    <label class="form__label" for="{{ form.username.id_for_label }}">Username</label>
                </div>
                <div class="form__group">
                    {{ form.email.errors }}
                    {{ form.email }}
                    <label class="form__label" for="{{ form.email.id_for_label }}">Email Address</label>
                </div>
                <div class="form__group">
                    {{ form.password1.errors }}
                    {{ form.password1 }}
                    <label class="form__label" for="{{ form.password1.id_for_label }}">Password</label>
                </div>
                <div class="form__group">
                    {{ form.password2.errors }}
                    {{ form.password2 }}
                    <label class="form__label" for="{{ form.password2.id_for_label }}">Password</label>
                </div>

                <div class="form__group">
                    <button type="submit" class="btn btn--green">Register Me</button>
                </div>

                <div class="form__group">
                    <span class="form__register-text"> ALready have Account</span><a href={% url 'home' %}
                        class="btn-text">Login From Here &rarr;</a>
                </div>
            </form>
        </div>

    </div>


</section>
{% endblock content %}